/*
Abbreviations: 
tnb - top navigation bar
*/

body {
    background-color: #000;
}

#top-nav-bar {
    height: 60px;
    display: grid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #23252b;
    align-items: center;
}

#nav-bar-elements {
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
}

#home-link, a:-webkit-any-link {
    color: white;
}

.logo {
    color: rgb(197, 96, 197);
    font-family: "Brush Script MT", "Times New Roman", sans-serif;
}