/*
Abbreviations: 
tnb - top navigation bar
*/

body {
    background-color: #000;
}

#top-nav-bar {
    height: 60px;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #23252b;
}

#nav-bar-elements {
    margin: 0;
    padding: 0;
    display: flex;
}

.logo {
    color: red;
    font-family: "Brush Script MT", "Times New Roman", sans-serif;
}