/*
Abbreviations: 
tnb - top navigation bar
*/

#top-nav-bar {
    height: 0;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: blue;
}